<%- include("templates/encabezado.ejs", { titulo: "Respuestas" }) %>

<div>Los datos del formulario son se subieron correctamente</div>
<div class>"Alert alert_succes</div>

<%-include("templates/pie.ejs")%>